.carousel-item{
    height: 100vh; width: 100vw;
    margin-left: 100px;
  
}
.carousel-item .img img{
    height: 100%; width: 100vw;
    background-size: contain;
    position: fixed;
    top: 0;
    z-index: -1;
}
#gradient{
    z-index: 1;
    position: fixed;
    height: 100vh; width: 100%;
    /* border: 2px solid red; */
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1))
} 
.details{
    height: 70%; width: 60%;
    position: absolute;
    bottom: 25px;
    /* background-color: aqua; */
    z-index: 2;
    color: white;
    padding: 20px 40px;
}

.details .posterLogo{
    height: 45%; width: 60%;
}
.details .posterLogo img{
    height: 50%;
}
.details .timing h3{
    font-size: 20px;
    font-weight: 700;   
}
.details .desc{
    width: 70%;
    margin: 20px 0;
}
.details .genre p{
    font-size: 18px;
    font-weight: 600;
}
.details .button{
    height: 60px;
    display: flex; 
    align-items: center;
}
.details .button .watch-btn{
    padding: 15px 40px;
    width: 50%; 
    border-radius: 15px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    color: white;
}
.details .button .watch-btn:hover{
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.4);
}
.details .button .add-btn{
    height: 60px; width: 60px;
    border-radius: 15px;
    margin-left: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    color: white;
    border: none;
    font-size: 25px;
    display: flex; justify-content: center; align-items: center;
    transition: 0.3s ease-in-out;
}
.details .button .add-btn:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
