.main{
    /* height: 100vh; */
    padding: 9% 0 0 9%;
    background-color: rgb(28, 28, 28);
}
.cards{
    /* border: 2px solid red; */
    display: flex; gap: 10px;
    height: 230px;
}
.cards-inner{
    background-color: yellow;
    height: 100%; width: 13%;
    border-radius: 10px;
}